# PHPStorm project files
.idea

# Vagrant box
.vagrant

# NodeJS modules
webapp/node_modules

# Log files
webapp/logs/*.log

# Bower components
webapp/bower_components

# Built files.
webapp/public/*