@background-colour: #0f0f23;
@branch-background-colour: rgba(119,119,165,.2);
@text-colour: #cccccc;
@dark-text-colour: #666666;
@title-colour: #00cc00;
@button-colour: #009900;
@button-hover-colour: #99ff99;
@star-colour: #ffff66;
@red-colour: #ff0000;
@orange-colour: #ff9900;
@blue-colour: #0066ff;
@white-colour: #ffffff;
@input-background: #10101a;