//-
	@file
	@author katharinegillis
	@date   12/24/15
	@brief  500 error page.
doctype html
html
	head
		title 500 Internal server error
	body
		h2 500 - Internal server error
		pre #{error}