//-
	@file
	@author katharinegillis
	@date   12/24/15
	@ brief  The index page. Loads up the frontend app.
doctype html
html(lang="en")
	head
		meta(charset="utf08")
		title AdventOfCode - katharinegillis
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300&subset=latin,latin-ext')
		link(rel='stylesheet', href='css/main.css')
	body
		#app

		script(src='js/vendor.js')
		script(src='js/vendor.bundle.js')
		script(src='js/bundle.js')