//-
	@file
	@author katharinegillis
	@date   12/24/15
	@ brief  The index page. Loads up the frontend app.
doctype html
html(lang="en")
	head
		meta(charset="utf08")
		title AdventOfCode - katharinegillis
	body
		| Hello world!